INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
conftest
conftest.erl
config.guess
config.guess.cdbs-orig
config.log
config.status
config.sub
config.sub.cdbs-orig
configure
configure.ac
configure.lineno
configure.tmp
depcomp
erl_crash.dump
libtool
ltmain.sh
py-compile
install-sh
missing
mydlp.app
mydlp.rel
*.beam
*.boot
*.script
*~
package_version
package_revision
src/mydlp/overview.edoc
src/mydlp/*.html
!src/mydlp/denied_page.html
src/mydlp/*.log
src/mydlp/*.pid
src/mydlp/mydlp_license.erl
src/mydlp/example/*.html
src/mydlp/deprecated/*.html
src/mydlp/edoc-info
src/mydlp/erlang.png
src/mydlp/stylesheet.css
src/mydlp/mydlp_nlp_tr_kokler.txt
src/mydlp/Mnesia.*/
src/thrift/gen-erl/
src/thrift/gen-java/
src/thrift/gen-php/
src/thrift/gen-py/
src/thrift/gen-cpp/
debian/changelog
debian/files
debian/mydlp.debhelper.log
debian/mydlp.substvars
debian/mydlp
debian/mydlp.*.debhelper
debian/stamp-autotools-files
debian/stamp-makefile-build
debian/stamp-autotools
debian/stamp-makefile-install
tmp/
