Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
configure.lineno
erl_crash.dump
*.beam
*.app
*.rel
*.boot
*.script
src/mydlp/overview.edoc
src/mydlp/*.html
src/mydlp/*.log
src/mydlp/*.pid
src/mydlp/example/*.html
src/mydlp/edoc-info
src/mydlp/erlang.png
src/mydlp/stylesheet.css
src/mydlp/Mnesia.*/
src/thrift/gen-erl/
src/thrift/gen-php/
src/thrift/gen-py/
debian/files
debian/mydlp.debhelper.log
debian/mydlp.substvars
debian/mydlp
debian/mydlp.*.debhelper
debian/stamp-autotools-files
debian/stamp-makefile-build
py-compile
