%%%
%%%    Copyright (C) 2010 Huseyin Kerem Cevahir <kerem@medra.com.tr>
%%%
%%%--------------------------------------------------------------------------
%%%    This file is part of MyDLP.
%%%
%%%    MyDLP is free software: you can redistribute it and/or modify
%%%    it under the terms of the GNU General Public License as published by
%%%    the Free Software Foundation, either version 3 of the License, or
%%%    (at your option) any later version.
%%%
%%%    MyDLP is distributed in the hope that it will be useful,
%%%    but WITHOUT ANY WARRANTY; without even the implied warranty of
%%%    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
%%%    GNU General Public License for more details.
%%%
%%%    You should have received a copy of the GNU General Public License
%%%    along with MyDLP.  If not, see <http://www.gnu.org/licenses/>.
%%%--------------------------------------------------------------------------

%[{sasl, [
%         {sasl_error_logger, {file, "/var/log/mydlp.log"}},
%         {errlog_type, error},
%         ]},

[{sasl, [
         {sasl_error_logger, false},
         {errlog_type, error},
         {error_logger_mf_dir, "/var/lib/mydlp/sasl"},	% Log directory
         {error_logger_mf_maxbytes, 10485760},		% 10 MB max file size
         {error_logger_mf_maxfiles, 5}			% 5 files max
         ]},
{mydlp,[
	{log_path, "/var/log/mydlp/mydlp.log"},
	{pid_file, "/var/run/mydlp/mydlp.pid"},
	{ssl_files, [
          {certfile, "/etc/mydlp/ssl/public.pem"},
          {keyfile, "/etc/mydlp/ssl/private.pem"}
         ]},
	{mysql,[ 
          {host, "localhost"},
          {port, 3306},
          {user, "root"},
          {password, ""},
          {database, "mydlp"},
          {pool_size, 2}
         ]},
	{denied_page, "/etc/mydlp/denied_page.html"},
	% Auto Distribution is an advanced feature.
	% Before activating you should check related material at Documents Page on www.mydlp.org
	% Value for all_nodes parameter should be FQDNs of all your nodes including this host. 
	% Also, you should replace localhost with FQDN of this host.
	% Default priority for nodes is 100. DO NOT CHANGE if you don't know what you are doing.
	{auto_distribution,[
	  {activate, false},
	  % {priority, 100 },
	  {all_nodes, ['localhost']}
	 ]},
	{denied_page, "/etc/mydlp/denied_page.html"},
	{nlp_tr,[
	  {activate, false},
	  {kokler, "/usr/share/mydlp/resources/mydlp_nlp_tr_kokler.txt"}
	 ]},
	{smtp,[ 
          {helo_name, "mydlp.org"},
          {next_hop, {"localhost", 10027}},
          {enable_for_all, true}
         ]},
	{icap,[ 
          {path, "/dlp"},
          {max_connections, 1000},
          {options_ttl, 3600}
         ]},
	{smb_discover,[ 
	  {activate, false},
	  {script_path, "/usr/sbin/mydlp-smb-discover"},
          {interval, 3600}
         ]}
	]}].
